---
import LogoIcon from "./icons/LogoIcon.astro";
import LogoPR from "/public/assets/images/pr.png";
import LogoPS from "/public/assets/images/ps.png";
import LogoAI from "/public/assets/images/ai.png";

---
<section class="h-full px-3 md:px-10 overflow-hidden">

    <div class="font-basic-sans pt-6 md:pt-10 flex flex-nowrap items-center gap-2 text-3xl">
        <LogoIcon className="size-20"/> PORTFOLIO
    </div>

    <main class="grid md:grid-cols-3 grid-cols-2 items-center">

    <div class="font-trend-sans col-span-2 mt-6">
        <span class="fade-in block transform animate-entry translate-0">
            <p class="neon-white text-5xl sm:text-7xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl tracking-tighter">AGUSTÍN</p>
            <p class="neon-white text-5xl sm:text-7xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl tracking-tighter">ALTAMIRANO</p>
        </span>
        <h3 class="neon-orange font-basic-sans text-lg sm:text-2xl md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl text-amber-500 mt-2 tracking-widest">DISEÑO GRAFICO Y EDICIÓN DE VIDEO</h3>
        <a href="https://api.whatsapp.com/send/?phone=543875715747&type=phone_number&app_absent=0" target="_blank" class="inline-block rounded-full underline font-mono font-extrabold bg-gradient-to-r from-amber-600 to-amber-500 px-8 py-3 md:px-10 md:py-4 md:text-xl mt-6 hover:scale-105 transition-all">CONTACTO</a>
    </div>
    
    <div class="col-span-2 md:col-span-1">

        <div class="md:hidden flex justify-center items-center">
            <img src={LogoPR.src} alt="Icono Adobe Premier Pro" class="w-[40%] transform rotate-12 -z-10 m-2">
            <img src={LogoPS.src} alt="Icono Adobe Photoshop" class="w-[40%] transform -rotate-12 -z-0 m-2 -ml-[15%]">
            <img src={LogoAI.src} alt="Icono Adobe Illustrator" class="w-[40%] transform rotate-12 z-10 m-2 -ml-[15%]">
        </div>

        <div class="hidden md:flex md:flex-col pr-2">
            <img src={LogoPR.src} alt="Icono Adobe Premier Pro" class="w-[75%] xl:w-[65%] 2xl:w-[75%] aspect-square -mt-[20%] -rotate-12 translate-x-20 z-0">
            <img src={LogoPS.src} alt="Icono Adobe Premier Pro" class="w-[75%] xl:w-[65%] 2xl:w-[75%] aspect-square -mt-[30%] rotate-12 -translate-x-7 z-10">
            <img src={LogoAI.src} alt="Icono Adobe Premier Pro" class="w-[75%] xl:w-[65%] 2xl:w-[75%] aspect-square -mt-[30%] -rotate-12 translate-x-20 z-20">
        </div>
    </div>

</main>
</section>


